# SPDX-FileCopyrightText: 2022 Zachary Dean contact@zadean.com
#
# SPDX-License-Identifier: CC0-1.0

.eunit
deps
*.o
*.beam
*.plt
.rebar
rebar.lock
/_build/
/_checkouts/
/ebin/
doc

# artifacts from shell
/data/
/code/
/log/

# dev stuff
.DS_Store
.tool-versions