[
    {
        elvis,
        [
            {config, [
                #{
                    dirs => ["src"],
                    filter => "*.erl",
                    ignore => [
                        xqldb_json_scanner,
                        xqldb_json_parser,
                        xqerl_parser,
                        xqerl_mod_fn_ietf_date,
                        xqerl_mod_fn_ietf_date_parse,
                        xqerl_mod_csv_t_lexer,
                        xqerl_mod_csv_sc_lexer,
                        xqerl_mod_csv_parse,
                        xqerl_mod_csv_lexer
                    ],
                    rules => [
                        {elvis_style, dont_repeat_yourself, #{min_complexity => 15}},
                        {elvis_style, no_debug_call, #{ignore => [xqerl_trace_h]}},
                        {elvis_style, macro_names, #{
                            regex => "^([A-Z][A-Z_0-9]*)$"
                        }},
                        {elvis_style, god_modules, #{limit => 150}},
                        {elvis_style, function_naming_convention, #{
                            regex => "^([a-z][a-zA-Z0-9_\-]*)$"
                        }},
                        %
                        % {elvis_style, atom_naming_convention, #{
                        %     regex => "^([a-z][a-zA-Z0-9_\-]*)(_SUITE)?$"
                        % }},
                        % {elvis_text_style, line_length, #{limit => 120}}
                        {elvis_style, line_length, #{limit => 120}}
                    ],
                    ruleset => erl_files
                },
                #{
                    dirs => ["."],
                    filter => "rebar.config",
                    ruleset => rebar_config
                },
                #{
                    dirs => ["."],
                    filter => "elvis.config",
                    ruleset => elvis_config
                }
            ]}
        ]
    }
].
