{minimum_otp_vsn, "24.1"}.

{deps, [
    {xs_regex, "0.1.0"},
    {erluca, "0.1.1"},
    {merge_index, "2.1.0", {pkg, xqerl_merge_index}},
    {emojipoo, "0.1.0"},
    {htmerl, "0.1.0"},
    {hackney, "1.18.1"},
    {cowboy, "2.10.0"},
    {sext, "1.8.0"},
    {locks, "0.2.0"},
    {uuid, "2.0.5", {pkg, uuid_erl}},
    {basexerl, "0.1.2"},
    {yaccety_sax, "0.3.0"}
]}.
{erl_opts, [{i, "include"}, debug_info]}.
{edoc_opts, [{preprocess, true}]}.

{ex_doc, [
    {homepage_url, <<"http://xqerl.org">>},
    {source_url, <<"https://github.com/zadean/xqerl">>},
    {logo, <<"./docs/img/Squirrel.png">>},
    {extras, [
        <<"README.md">>,
        <<"LICENSE">>,
        <<"./docs/src/GettingStarted.md">>
    ]},
    {main, <<"readme">>}
]}.
{hex, [{doc, ex_doc}]}.

{project_plugins, [erlfmt, rebar3_depup]}.
{erlfmt, [write]}.

{shell, [{config, "config/xqerl.config"}]}.

{profiles, [
    {test, [
        {ct_opts, [
            {sys_config, ["config/xqerl.test.config"]},
            {logopts, [no_src]}
        ]}
    ]},
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_src, false},
            {include_erts, true}
        ]}
    ]}
]}.

{relx, [
    {release, {xqerl, "v0.2.0"}, [xqerl]},
    {sys_config, "config/xqerl.config"},
    {vm_args_src, "config/vm.args.src"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true},
    {overlay, [{mkdir, "log"}, {mkdir, "code"}, {mkdir, "data"}]}
]}.
