{minimum_otp_vsn, "21.2"}.

{deps,[
   {xs_regex,    ".*", {git, "https://github.com/zadean/xs_regex.git",    {branch, "master"}}},
   {erluca,      ".*", {git, "https://github.com/zadean/erluca.git",      {branch, "master"}}},
   {merge_index, ".*", {git, "https://github.com/zadean/merge_index.git", {branch, "zadean"}}},
   {hackney,     ".*", {git, "https://github.com/benoitc/hackney.git",    {branch, "master"}}},
   {cowboy,      ".*", {git, "https://github.com/ninenines/cowboy.git",   {branch, "master"}}},
   {locks,       ".*", {git, "https://github.com/uwiger/locks.git",       {branch, "master"}}},
   {uuid,        ".*", {git, "https://github.com/okeuday/uuid.git",       {tag, "v1.7.5"}}},
   {basexerl,    ".*", {git, "https://github.com/zadean/basexerl.git",    {branch, "master"}}}
]}.

{erl_opts, [
  debug_info
]}.

{shell, [{config, "config/xqerl.config"}]}.

{profiles, 
   [{test, [
      {ct_opts, [
         {sys_config, ["config/xqerl.test.config"]},
         {logopts, [no_src]}
        ]}
      ]}
   ]}.

{relx, [{release, {xqerl, "0.8.0"}, [xqerl]},
        {sys_config, "config/xqerl.config"},
        {vm_args_src,    "config/vm.args.src"},
        {dev_mode, false},
        {include_erts, true},
        {extended_start_script, true},
        {overlay, [{mkdir, "log"},
                   {mkdir, "xquery"},
                   {mkdir, "data"}]}
]}.
