{minimum_otp_vsn, "24.1"}.

{deps, [
    xs_regex,
    erluca,
    xqerl_merge_index,
    emojipoo,
    htmerl,
    hackney,
    cowboy,
    sext,
    locks,
    uuid_erl,
    basexerl
]}.

{erl_opts, [
    {i, "include"},
    debug_info
]}.

{project_plugins, [erlfmt, rebar3_hex]}.

{erlfmt, [write]}.

{shell, [{config, "config/xqerl.config"}]}.

{profiles, [
    {test, [
        {ct_opts, [
            {sys_config, ["config/xqerl.test.config"]},
            {logopts, [no_src]}
        ]}
    ]},
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_src, false},
            {include_erts, true}
            % {debug_info, strip} TODO!
        ]}
    ]}
]}.

{relx, [
    {release, {xqerl, {git, long}}, [xqerl]},
    {sys_config, "config/xqerl.config"},
    {vm_args_src, "config/vm.args.src"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true},
    {overlay, [
        {mkdir, "log"},
        {mkdir, "code"},
        {mkdir, "data"}
    ]}
]}.
