{minimum_otp_vsn, "21.0"}.
{deps,[
   {xs_regex, ".*", {git, "git://github.com/zadean/xs_regex.git", {branch, "master"}}},
   {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}},
   {cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git", {branch, "master"}}}
]}.
{erl_opts, [
  debug_info
]}.
%{erl_opts, [{native, o3}]}.