[
% {kernel, [
%   {logger, [
%    {handler, default, undefined}
%   ]}
% ]},
 {xqerl, [
   {logger, [
    {handler, xqerl_handler, logger_std_h, 
     #{config => #{type => {file, "/git/zadean/xqerl/log/erl.log"}},
       level => all,
       filters => [
                   {   xqerl_filter,{fun logger_filters:domain/2, {log, equal, [xqerl]}}},
                   {nonxqerl_filter,{fun logger_filters:domain/2, {stop, not_equal, [xqerl]}}}
                  ],
       formatter => {logger_formatter, 
                     #{legacy_header => false,
                       single_line => true,
                       template => [time, 
                                    " [", level,"] ",
                                    mfa, "(",line,") ",
                                    pid, ": ",
                                    msg,"\n"],
                       max_size => 4000}}
      }
    },
    {handler, trace_handler, logger_std_h, 
     #{config => #{type => standard_io},
       level => info,
       filters => [
                   {   trace_filter,{fun logger_filters:domain/2, {log, equal, [trace]}}},
                   {nontrace_filter,{fun logger_filters:domain/2, {stop, not_equal, [trace]}}}
                  ],
       formatter => {logger_formatter, 
                     #{legacy_header => false,
                       single_line => false,
                       template => ["TRACE: ", msg, "\n"]}}
      }
    }
   ]}
 ]},
 {xqerl_db, [
   {data_root, "data/root"}
 ]}
].
