[
 {kernel, [
   {logger, [
    {handler, default, undefined}
   ]}
 ]},
 {xqerl, [
   {logger, [
    {handler, default, logger_std_h, 
     #{config => #{type => {file, "/git/zadean/xqerl/log/erl.log"}},
       level => all,
       formatter => {logger_formatter, 
                     #{legacy_header => false,
                       single_line => true,
                       template => [time, 
                                    " [", level,"] ",
                                    mfa, "(",line,") ",
                                    pid, ": ",
                                    msg,"\n"],
                       max_size => 4000}}
      }
    },
    {handler, trace_handler, logger_std_h, 
     #{config => #{type => standard_io},
       level => info,
       filters => [
                   {   trace_filter,{fun logger_filters:domain/2, {log, equal, [trace]}}},
                   {nontrace_filter,{fun logger_filters:domain/2, {stop, not_equal, [trace]}}}
                  ],
       formatter => {logger_formatter, 
                     #{legacy_header => false,
                       single_line => false,
                       template => ["TRACE: ", msg, "\n"]}}
      }
    }
   ]}
 ]},
 {merge_index, [
   {data_root,                            "data/index"},
   {buffer_rollover_size,                 4194304},
   {buffer_delayed_write_size,            2097152},
   {buffer_delayed_write_ms,              2000},
   {compact_mod_fun,                      {mi_segment, compact_by_average}},
   {compact_staleness_threshold,          {1, hours}},
   {max_compact_segments,                 40},
   {segment_query_read_ahead_size,        65536},
   {segment_compact_read_ahead_size,      16777216},
   {segment_file_buffer_size,             16777216},
   {segment_delayed_write_size,           16777216},
   {segment_delayed_write_ms,             10000},
   {segment_full_read_size,               16777216},
   {segment_block_size,                   32767},
   {segment_values_staging_size,          1000},
   {segment_values_compression_threshold, 0},
   {segment_values_compression_level,     1}
 ]}
].
